@page
@model MesDixnich.Pages.ChatModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat</title>
</head>
<body>

    <h2>@Model.Message1</h2>


    <div asp-validation-summary="All"></div>
    <form action="" onsubmit="yourJsFunction(); return false;"form method="post">
        <div><input asp-for="SendMess.MessageText" id="message" /></div>
        <div><input type="hidden" id="hid" value=@Model.User1.UserName></div>
        <input type="submit" id="sendBtn" value="Отправить" />
    </form>

    <div id="chatroom"></div>

    <script src="js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("ConnectionStatus")
            .build();

        let userName = '';

        // получение сообщения от сервера
        hubConnection.on('Receive', function (message, userName) {
            if (message == "" || message == " ") { }
            else {
                // создаем элемент <b> для имени пользователя
                let userNameElem = document.createElement("b");
                if (userName == '')
                    userNameElem.appendChild(document.createTextNode(1111 + ": "));
                else
                    userNameElem.appendChild(document.createTextNode(userName + ": "));

                // создает элемент <p> для сообщения пользователя
                let elem = document.createElement("p");
                elem.appendChild(userNameElem);
                elem.appendChild(document.createTextNode(message));

                var firstElem = document.getElementById("chatroom").firstChild;
                document.getElementById("chatroom").insertBefore(elem, firstElem);
            }
        });

        // отправка сообщения на сервер
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            userName = document.getElementById("hid").value;
            hubConnection.invoke("Send", message, userName);
        });

        hubConnection.start();
    </script>
</body>
</html>