@page
    @model RazorPagesApp.Pages.ExchangeModel
    @{
        ViewData["Title"] = "Ввод данных";
    }

    <title>Вход в учетную запись</title>

    <h2>Вход в учетную запись</h2>
    <h4 style="color:#ff0000">@Model.Message</h4>
    <form method="post">
        <p>Введите логин</p>
        <input type="text" name="login" />
        <p>Введите пароль</p>
        <input type="text" name="password" />
        <input type="submit" value="Подтвердить" />
    </form>