@page
    @model RazorPagesApp.Pages.ExchangeModel
    @{
        ViewData["Title"] = "Ввод данных";
    }

    <title>Вход в учетную запись</title>

    <h2>Вход в учетную запись</h2>
    <h4 style="color:#ff0000">@Model.Message</h4>
    <form method="post">
        <p>Введите логин</p>
        <input type="text" name="login" />
        <p>Введите пароль</p>
        <input type="text" name="password" />
        <input type="submit" value="Подтвердить" />
    </form>
@*@page
@model RazorPagesApp.Pages.People.IndexModel

@{
    ViewData["Title"] = "Список пользователей";
}
<h2>@ViewData["Title"]</h2>

<p><a asp-page="Create">Добавить пользователя</a></p>
<table class="table">
    <thead>
        <tr><th>Имя</th><th>Возраст</th></tr>
    </thead>
    <tbody>
        @foreach (var person in Model.User)
        {
            <tr><td>@person.Login</td><td>@person.Password</td></tr>
        }
    </tbody>
</table>*@